*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  background-color: #EFEBE0; }

::selection {
  background-color: #00B6BC;
  color: #EFEBE0; }

a:link,
a:visited,
a {
  text-decoration: none;
  color: #373A40; }

body {
  font-family: "Raleway", Arial, Helvetica,sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #373A40; }

.heading-primary {
  font-size: 8rem;
  color: #373A40;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 1rem; }
  .heading-primary--1 {
    animation: moveInLeft 1s; }
  .heading-primary--2 {
    animation: moveInBottom .5s ease-out 1s;
    animation-fill-mode: backwards; }
  .heading-primary span {
    display: inline-block;
    color: #EFEBE0;
    padding: 0 2.5rem;
    background-color: #00B6BC;
    border-radius: 2px; }

.heading-secondary--white {
  display: inline-block;
  color: #EFEBE0;
  letter-spacing: .2rem;
  font-size: 5rem;
  letter-spacing: .4rem;
  margin-bottom: 3rem; }

.paragraph:not(:last-child) {
  margin-bottom: 3rem; }

.u-container {
  width: 88%;
  margin: auto;
  background-color: inherit; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-1.5rem); }
  80% {
    transform: translateY(-2rem); } }

@keyframes rotate-180 {
  0%, 40%, 80% {
    transform: rotate(0); }
  20%, 100% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(-10deg); } }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes move-dia1 {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translate(23rem, -6rem) rotate(45deg); }
  80% {
    transform: translateX(-1rem) rotate(-45deg); } }

@keyframes move-dia2 {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translate(18rem, 6rem) rotate(45deg); }
  80% {
    transform: translateX(-1rem) rotate(-45deg); } }

.u-container {
  width: 88%;
  margin: auto;
  background-color: inherit; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  80% {
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-1.5rem); }
  80% {
    transform: translateY(-2rem); } }

@keyframes rotate-180 {
  0%, 40%, 80% {
    transform: rotate(0); }
  20%, 100% {
    transform: rotate(10deg); }
  60% {
    transform: rotate(-10deg); } }

@keyframes rotation {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes move-dia1 {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translate(23rem, -6rem) rotate(45deg); }
  80% {
    transform: translateX(-1rem) rotate(-45deg); } }

@keyframes move-dia2 {
  0%, 100% {
    transform: translateX(0); }
  50% {
    transform: translate(18rem, 6rem) rotate(45deg); }
  80% {
    transform: translateX(-1rem) rotate(-45deg); } }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  transition: all .2s ease-in-out;
  cursor: pointer; }

.btn--redirect, .btn--redirect:link, .btn--redirect:visited {
  font-size: 3rem;
  border-bottom: 0.3rem solid rgba(0, 182, 188, 0.3);
  font-weight: 500; }

.btn--redirect:hover, .btn--redirect:active {
  border-bottom: 0.3rem solid #00b6bc; }

.btn--primary, .btn--primary:link, .btn--primary:visited {
  color: #EFEBE0;
  background-color: #00B6BC;
  padding: 1.5rem 4rem;
  border-radius: 10rem; }

.btn--primary:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(55, 58, 64, 0.2); }

.btn--primary:active, .btn--primary:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(55, 58, 64, 0.2); }

.card {
  display: block;
  height: auto;
  background-color: rgba(239, 235, 224, 0.6);
  padding: 2rem;
  width: 85%;
  margin: 0 auto;
  font-size: 1.6rem;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(55, 58, 64, 0.15);
  transition: transform .3s; }
  .card__icon {
    font-size: 10rem;
    display: inline-block;
    background-image: linear-gradient(to right, #006D70, #00B6BC);
    -webkit-background-clip: text;
    color: transparent; }
  .card__text {
    color: #373A40; }
    .card__text--heading {
      text-transform: uppercase;
      font-size: 2.8rem;
      font-weight: 500; }
    .card__text--desc {
      font-weight: 300;
      font-size: 2rem; }
  .card__btn {
    margin-top: 5rem; }

.tile {
  background-color: #EFEBE0;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 1rem 1.5rem 4rem rgba(55, 58, 64, 0.15);
  text-align: justify;
  transition: transform .3s ease-in-out; }
  .tile:not(:last-child) {
    margin-bottom: 2rem; }
  .tile:hover {
    transform: translateY(-0.5rem) scale(1.03);
    font-weight: 500; }

.card-2 {
  margin: 0 auto;
  background-color: #EFEBE0;
  text-align: center;
  width: 95%;
  border-radius: .3rem;
  box-shadow: 0 1rem 4rem rgba(121, 121, 121, 0.15);
  transition: transform .3s; }
  .card-2__icon {
    font-size: 5rem;
    background-image: linear-gradient(to right, rgba(55, 58, 64, 0.7), #373a40);
    -webkit-background-clip: text;
    color: transparent; }
  .card-2__lower-section {
    text-transform: uppercase;
    padding: 1rem 1rem;
    color: #EFEBE0;
    background-color: #797979; }
  .card-2:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.navigation {
  height: 10vh;
  box-shadow: 0 0.1rem 0.8rem rgba(55, 58, 64, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  background-color: #EFEBE0; }
  .navigation__nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    align-content: center; }
  .navigation__logo--link, .navigation__logo--link:link, .navigation__logo--link:visited, .navigation__logo--link:active {
    text-decoration: none;
    color: #00B6BC;
    font-size: 2.5rem;
    font-weight: 700; }
  .navigation__logo--img {
    width: 20rem; }
  .navigation__list {
    display: flex;
    list-style: none; }
  .navigation__link {
    color: rgba(55, 58, 64, 0.8);
    border-bottom: 3px solid transparent;
    transition: all .4s ease-in-out; }
  .navigation__link:hover {
    color: #373a40;
    border-bottom: 3px solid rgba(0, 182, 188, 0.8); }
  .navigation__item {
    margin: 3rem; }
  .navigation__link {
    display: inline-block;
    font-size: 1.8rem; }
  .navigation__link:hover {
    color: #33363c; }

.row {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: no-wrap; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    flex: 1; }
    .row [class^="col-"]:not(:first-child) {
      margin-left: 6rem; }
  .row .col-2-of-3,
  .row .col-2-of-4 {
    flex: 2; }
  .row .col-3-of-4 {
    flex: 3; }

.hero {
  height: 90vh;
  display: flex;
  padding-top: 4rem;
  align-items: center;
  padding-bottom: 0; }
  .hero__text {
    flex-basis: 45%; }
  .hero__img {
    width: 55%;
    flex-basis: 55%;
    height: auto;
    animation: bounce  6s infinite; }
  .hero__paragraph {
    font-size: 1.4rem;
    color: rgba(55, 58, 64, 0.8);
    margin-top: 3rem;
    animation: moveInBottom .4s ease-out 2s;
    animation-fill-mode: backwards; }
  .hero__btn {
    animation: moveInBottom .4s ease-out 2s;
    animation-fill-mode: backwards; }

.section-how {
  background-image: linear-gradient(to right bottom, rgba(0, 109, 112, 0.7), #00b6bc), url("../../img/corona-bg-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5rem 0; }
  .section-how__praragraph {
    margin-top: -3rem;
    color: rgba(239, 235, 224, 0.8); }
  .section-how__btn:link, .section-how__btn:visited, .section-how__btn {
    margin-top: 5rem;
    color: #EFEBE0;
    border-color: rgba(55, 58, 64, 0.6); }
  .section-how__btn:hover {
    border-color: #373a40; }

.section-about {
  height: auto;
  background-color: #EFEBE0;
  text-align: center; }
  .section-about__left {
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .section-about__img {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    background-image: url("../../img/corona-bg-2.svg");
    background-position: center;
    background-size: cover;
    border: 4rem solid #373A40;
    border-radius: .5rem; }
  .section-about__heading {
    color: #373A40;
    font-weight: 500;
    font-size: 3rem;
    margin: 5rem 0 2rem 0;
    letter-spacing: .2rem; }
  .section-about__btn:link, .section-about__btn:visited, .section-about__btn {
    margin: 5rem 0; }

.section-symptoms {
  padding: 4rem 0;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(55, 58, 64, 0.8), #373a40); }
  .section-symptoms__btn:link, .section-symptoms__btn:visited, .section-symptoms__btn {
    color: #EFEBE0;
    margin: 5rem 0; }
