//////////////////////////////////////////////////////////////////////////////////////////
////////This file contains the different functionalities required to be included
//////////////////////////////////////////////////////////////////////////////////////////

@mixin center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
