// Color Variables
$color-primary-dark: #006D70;
$color-primary: #00B6BC;
//#71D5E4   00B6BC
$color-primary-light-1: #A1DBF1;
$color-primary-light-2: #E4F4F3;

$color-white: #EFEBE0;
//EFEBE0 f0f0f0
$color-black: #373A40;

$color-text-primary: #373A40;

$gutter-horizontal: 6rem;

$gutter-vertical: 8rem;