///////////////////////////////////////////////////////////////////////////////////
///// Grid System for the application
///// Offers a maximum of 4 X 4 with all intermediate length possibilities
///// gutter vertical is the space between columns
///// gutter horizontal is the space between rows
///////////////////////////////////////////////////////////////////////////////////

.row {
    display: flex;
    align-items: stretch;
    //align-content: center;
    //flex-wrap: no-wrap;
    // @include respond(tab-port) { // width < 900
    //     font-size: 50%; // 8px
    // }

    @include respond(tab-port) { // width < 900
        display: block;
    }

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }

    [class^="col-"] {
        &:not(:first-child) {
            margin-left: $gutter-horizontal;
            @include respond(tab-port) { // width < 900
                margin-left: 0;
            }
        }
        flex: 1;
        @include respond(tab-port) { // width < 900
            margin-bottom: $gutter-vertical;
        }
    }

    .col-2-of-3, 
    .col-2-of-4 {
        flex: 2; // twice space needed
    }

    .col-3-of-4 {
        flex: 3; // thrice space needed
    }
}

