.navigation {
    height: 10vh;;
    //border-bottom: 1px solid rgba($color: $color-black, $alpha: 0);
    box-shadow: 0 .1rem .8rem rgba($color-black, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $color-white;
    transition: all .4s ease-in-out;

    // Class used to hide or make navigation bar visible
    // Is added or removed using JS
    &__inactive {
        height: 0;
        opacity: 0;
        visibility: hidden;
        // opacity animates and visibility prevents functionality of any leftovers
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        align-content: center;
    }

    &__logo {

        &--link,
        &--link:link,
        &--link:visited,
        &--link:active {
            text-decoration: none;
            color: $color-primary;
            font-size: 2.5rem;
            font-weight: 700;
        }

        &--img {
            width: 20rem;
        }
    }


    &__list {        
        display: flex;
        list-style: none;
    }

    &__link {
        color: rgba($color-black, .8) ;
        border-bottom: 3px solid transparent;
        transition: all .4s ease-in-out;
    }

    &__link:hover {
        color: rgba($color: $color-black, $alpha: 1);
        border-bottom: 3px solid rgba($color: $color-primary, $alpha: .8);
    }

    &__item {
        margin: 3rem;
    }

    &__link {
        display: inline-block;
        font-size: 1.8rem;
    }

    &__link:hover {
        color: darken($color-text-primary, 1.5);
    }
}
