//////////////////////////////////////////////////////////////////////////////////////////
//////// Styles for the navigation pane for the app
//////////////////////////////////////////////////////////////////////////////////////////

.hamburger-icon {
    display: block;
    position: relative;
    background-color: $color-primary-dark;
    height: .4rem;
    width: 5rem;
    transition: background-color .2s ease-out;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        background-color: $color-primary-dark;
        height: 100%;
        width: 100%;
        transition: all .2s ease-out;
    }

    &::before {
        top: 1.5rem;
    }

    &::after {
        top: -1.5rem;
    }

}

.navigation {
    //height: 30vh;
    //height: 10vh;;
    //border-bottom: 1px solid rgba($color: $color-black, $alpha: 0);
    box-shadow: 0 .1rem .8rem rgba($color-black, .2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: $color-white;
    transition: all .4s ease-in-out;

    // Class used to hide or make navigation bar visible
    // Is added or removed using JS
    &__inactive {
        height: 0;
        opacity: 0;
        visibility: hidden;
        // opacity animates and visibility prevents functionality of any leftovers
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    &__logo {
        &--link,
        &--link:link,
        &--link:visited,
        &--link:active {
            text-decoration: none;
            color: $color-primary;
            font-size: 2.5rem;
            font-weight: 700    
        }

        &--img {
            width: 20rem;

            @include respond(phone) { // < 600px
                width: 25rem;
            }
        }
    }


    &__list {        
        display: flex;
        list-style: none;
        transition: height .3s ease-in-out;
    }

    &__link {
        color: rgba($color-black, .8) ;
        border-bottom: 3px solid transparent;
        transition: all .4s ease-in-out;
    }

    &__link:hover {
        color: rgba($color: $color-black, $alpha: 1);
        border-bottom: 3px solid rgba($color: $color-primary, $alpha: .8);
    }

    &__item {
        margin: 3rem;
    }

    &__link {
        display: inline-block;
        font-size: 1.8rem;
    }

    &__link:hover {
        color: darken($color-text-primary, 1.5);
    }

    &__menu-icon {
        cursor: pointer;
        padding: 4rem 2rem;
        display: none;
        overflow: none;
    }

    &__menu-btn {
        display: none;
        overflow: none;
    }

    &__menu-btn:checked ~ &__menu-icon > .hamburger-icon{
        background-color: transparent;
        &::before {
            transform: rotate(-45deg);
            top: 0;
        }

        &::after {
            transform: rotate(45deg);
            top: 0;
        }
    }

    &__menu-btn:checked ~ &__list {
        height: 44rem;
    }

    @include respond(tab-port) { // < 900px

        &__menu-icon {
            display: inline-block;
        }

        &__list {
            flex-basis: 100%;
            flex-shrink: 0;
            background-color: $color-white;
            flex-direction: column;
            height: 0;
            overflow: hidden;
        }


        &__link {
            font-size: 2.5rem;
            font-weight: 400;
            width: 100%;
            padding: .5rem;
            border-bottom: 0;
            color: rgba($color: $color-black, $alpha: .8);
        }

        &__link:hover {
            border-bottom: 0;
            color: rgba($color: $color-black, $alpha: 1);
            background-color: darken($color: $color-white, $amount: 5);
        }
    }
}






