//////////////////////////////////////////////////////////////////////////////////////////
//////// This is the component which contains author display
//////// along with the links and description of the author
//////////////////////////////////////////////////////////////////////////////////////////

.author {
    text-align: center;
    &__shape {
        margin: 0 auto;
        width: 12rem;
        height: 12rem;
        border-radius: 100%;
        background-image: url("../../img/author-avatar.png");
        background-size: contain;
        border: 1px solid darken($color: $color-black, $amount: 1.5);
    }

    &__heading {
        color: $color-white;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: .2rem;
        line-height: 1.8;

        @include respond(tab-port) {
            font-size: 3rem;
        }
    }

    &__desc {
        font-size: 1.3rem;
        font-weight: 300;
        @include respond(tab-port) {
            font-size: 2rem;
        }
    }

    &__icons {
        margin-top: 1rem;
        text-align: center;
        font-size: 3.5rem;
        justify-content: center;
        @include respond(tab-port) {
            font-size: 4rem;
        }

        &--1,
        &--2 {
            display: inline-block;
            padding: .5rem;
            transition: all .3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    a {
        color: $color-white;
    }
}

