.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }

    &--redirect--black,
    &--redirect--black:link,
    &--redirect--black:visited {
        color: $color-black;
        font-size: 3rem;
        border-bottom: .3rem solid rgba($color-primary, .3);
        font-weight: 500;
    }

    &--redirect--black:hover,
    &--redirect--black:active {
        border-bottom: .3rem solid rgba($color-primary, .8);
    }

    &--redirect--white,
    &--redirect--white:link,
    &--redirect--white:visited {
        color: $color-white;
        font-size: 3rem;
        border-bottom: .3rem solid rgba($color-black, .5);
        font-weight: 500;
    }

    &--redirect--white:hover,
    &--redirect--white:active {
        border-bottom: .3rem solid rgba($color-black, 1);
    }

    &--primary,
    &--primary:link,
    &--primary:visited {
        color: $color-white;
        background-color: $color-primary;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
    }

    &--primary:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &--primary:active,
    &--primary:focus {
        outline: none;
        transform: translateY(-.1rem);
        // # in rgba works only with scss
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
}
