//////////////////////////////////////////////////////////////////////////////////////////
//////// This is the for a card in the symptoms section
//////////////////////////////////////////////////////////////////////////////////////////

.symptom-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    background-color: $color-white;
    //height: 3vw;
    text-align: center;
    width: 100%;
    @include respond(tab-port) { // width < 900
        width: 60%;
    }
    @include respond(phone) { // width < 900
        width: 90%;
    }
    border-radius: .3rem;
    box-shadow: 0 2rem 2rem rgba($color-black, $alpha: .3);
    transition: transform .3s;
    //padding-top: 2.5rem;
    position: relative;

    &__icon {
        display: inline-block;
        // margin: 3rem 0 0rem 0;
        margin-top: 3.5rem;
        font-size: 8rem;
        //font-weight: 700;
        color: $color-black;
    }

    &__upper-section {
        height: 18rem;
        transition: all .5s ease-in-out;
    }

    &__lower-section {
        text-transform: uppercase;
        padding: 1rem 1rem;
        color: $color-white;
        background-color: $color-primary-dark;
        transition: all .5s ease-in-out;
        height: 5rem;

        @include respond(tab-land) { //< 1200px
            font-size: 1.5rem;
        }

        &--information {
            text-transform: none;
            margin-top: 1.5rem;
            color: $color-white;
            font-size: 1.3rem;
            font-weight: 400;
            overflow: hidden;
            height: 0;
            transition: height .5s ease-out;
        }
    }

    &:hover &__lower-section--information {
        height: 15rem;
        transition: height .5s ease-in;    
    }

    &:hover &__upper-section {
        height: 0;
        visibility: hidden;
    }

    &:hover &__lower-section {
        border-radius: .3rem;
        height: 23rem;
    }

}

