// The element will move in from the lft to the right with a slight bounce
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// The element will move in from the right to the left with a slight bounce
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    80% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

// Up and down Bouncing effect for an element
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-1.5rem);
    }

    80% {
        transform: translateY(-2rem);
    }
}

// Rotation effect
@keyframes rotate-180 {
    0%, 40%, 80%{
        transform: rotate(0);
    }

    20%,100% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

}

