body {
    font-family: "Raleway", Arial, Helvetica,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-text-primary;
}

.heading-primary {
    font-size: 8rem;
    color: $color-text-primary;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1rem;
    position: relative;

    &--1 {
        display: inline-block;
        width: 100%;
        padding: 0;
        animation: moveInLeft 1s;
        z-index: 4;
        background-color: $color-white;
    }

    &--2 {
        font-size: 7rem;
        animation: moveInBottom .5s ease-out 1s;
        //Applies the animation 0% value before beginning forwards does the opposite
        animation-fill-mode: backwards; 
        z-index: 3;
        transition: all .2s ease-in-out;
    }

    &__changing-text {
        position: absolute;
        z-index: 1;
    }

    &__paragraph {
        display: inline-block;
        position: relative;
        background-color: $color-white;
        width: 100%;
        height: 9rem;
        font-size: 1.4rem;
        color: rgba($color: $color-black, $alpha: .8);
        margin-top: 8rem;
        animation: moveInBottom .4s ease-out 2s;
        animation-fill-mode: backwards;
        z-index: 5;
        text-align: justify;
    }

    span {
        display: inline-block;
        color: $color-white;
        padding: 0 2.5rem;
        background-color: $color-primary;
        border-radius: 2px;
    }
}


.heading-secondary--white {
    display: inline-block;
    color: $color-white;
    letter-spacing: .2rem;
    font-size: 5rem;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
}

.heading-secondary--black {
    font-weight: 500;
    display: inline-block;
    color: $color-black;
    letter-spacing: .2rem;
    font-size: 3rem;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
}
.paragraph {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

