body {
    font-family: "Raleway", Arial, Helvetica,sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-text-primary;
}

.heading-primary {
    font-size: 8rem;
    color: $color-text-primary;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 1rem;

    &--1 {
        animation: moveInLeft 1s;
    }

    &--2 {
        animation: moveInBottom .5s ease-out 1s;
        //Applies the animation 0% value before beginning forwards does the opposite
        animation-fill-mode: backwards; 
    }

    span {
        display: inline-block;
        color: $color-white;
        padding: 0 2.5rem;
        background-color: $color-primary;
        border-radius: 2px;
    }
}


.heading-secondary--white {
    display: inline-block;
    color: $color-white;
    letter-spacing: .2rem;
    font-size: 5rem;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
}

.heading-secondary--black {
    display: inline-block;
    color: $color-black;
    letter-spacing: .2rem;
    font-size: 3rem;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
}
.paragraph {
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

