//////////////////////////////////////////////////////////////////////////////////////////
//////// Basic Font styles for the entire applucation
//////// Includes headings, basic body and paragraph settings
//////////////////////////////////////////////////////////////////////////////////////////

body {
    font-family: "Raleway", Arial, Helvetica,sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $color-black;

    @include respond(phone) { // width < 600
        font-size: 1.5rem;
    }
}

.heading-primary {
    background-color: transparent;
    font-size: 8rem;
    color: $color-black;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 2rem;  

    @include respond(tab-land) { // width < 1200
        font-size: 6rem;
    }

    
    @include respond(tab-port) { // width < 900
        font-size: 9rem;
        letter-spacing: .4rem;
    }

    @include respond(phone) { // width < 600
        font-size: 5rem;
    }

    &--1 {
        animation: moveInLeft .8s;
    }

    &--2 {
        animation: moveInBottom .6s ease-out .8s;
        //Applies the animation 0% value before beginning forwards does the opposite
        animation-fill-mode: backwards; 
    }

    &__changing-text {
        display: inline-block;
        height: 8rem;
        width: 100%;
        transition: all .4s ease-in-out;
        @include respond(tab-land) { // width < 1200
            height: 6rem;
        }
        @include respond(tab-port) { // width < 900
            height: 8rem;
        }
        @include respond(phone) { // width < 600
            height: 5rem;
        }
    }

    &__paragraph {
        font-size: 1.4rem;
        font-weight: 300;
        color: rgba($color: $color-black, $alpha: .8);
        margin-top: 4rem;
        animation: moveInBottom .4s ease-out 2s;
        animation-fill-mode: backwards;
        text-align: justify;
        padding-right: 5rem;

        @include respond(phone) { // width < 600
            font-size: 1rem;
        }
    }

    span {
        display: inline-block;
        color: $color-white;
        padding: 0 1.5rem;
        background-color: $color-primary;
        border-radius: 2px;
    }
}


.heading-secondary {
    display: inline-block;
    letter-spacing: .2rem;
    font-weight: 300;
    font-size: 5rem;
    letter-spacing: .4rem;
    margin-bottom: 3rem;
    text-transform: capitalize;

    @include respond(phone) { // width < 600
        font-size: 3.5rem;
    }

    &--white {
        color: $color-white;
    }

    &--black {
        color: $color-black;
    }
}

.heading-tertiary {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: .2rem;

    @include respond(phone) { // width < 600
        font-size: 2.5rem;
    }

    &--primary {
        color: $color-primary-dark
    }

    &--black {
        color: $color-black;
    }
    
}

.paragraph {
    &:not(:last-child) {
        font-weight: 400;
        margin-bottom: 3rem;
    }
}

