.u-container { 
    width: 88%;
    margin: auto;
    background-color: inherit;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-medium {
    margin-top: 5rem;
}

.u-margin-top-small {
    margin-top: 3rem;
}

.u-margin-bottom-big {
    margin-top: 8rem;
}

.u-margin-bottom-medium {
    margin-top: 5rem;
}

.u-margin-bottom-small {
    margin-top: 3rem;
}
