//////////////////////////////////////////////////////////////////////////////////////////
//////// Classes to be used for basic utilities like container
//////// and adding margins to top or bottom of an element
//////////////////////////////////////////////////////////////////////////////////////////

.u-container { 
    width: 88%;
    margin: auto;
    background-color: inherit;
}

.u-margin-top-big {
    margin-top: 8rem;
    @include respond(phone) { // width < 600
        margin-top: 4rem;
    }
}

.u-margin-top-medium {
    margin-top: 5rem;
    @include respond(phone) { // width < 600
        margin-top: 2rem;
    }
}

.u-margin-top-small {
    margin-top: 3rem;
    @include respond(phone) { // width < 600
        margin-top: 1rem;
    }
}

.u-margin-bottom-big {
    margin-top: 8rem;
    @include respond(phone) { // width < 600
        margin-top: 4rem;
    }
}

.u-margin-bottom-medium {
    margin-top: 5rem;
    @include respond(phone) { // width < 600
        margin-top: 2rem;
    }
}

.u-margin-bottom-small {
    margin-top: 3rem;
    @include respond(phone) { // width < 600
        margin-top: 1rem;
    }
}

.u-inactive {
    height: 0;
    opacity: 0;
    visibility: hidden;
    // opacity animates and visibility prevents functionality of any leftovers
}