// .hero {
//     height: 100vh;
    
//     &__text {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: flex-start;
//     } 

//     &__paragraph {
//         text-align: justify;
//         font-weight: 300;
//     }
//     &__img {
//         height: 100%;
//         width: 100%;
//         animation: bounce 4s infinite linear;
//     }
// }

.hero {
    height: 90vh;
    display: flex;
    padding-top: 4rem;
    align-items: center;
    padding-bottom: 0;

    &__text {
        //flex: 1;
        flex-basis: 45%;
    }


    &__img {
        //flex: 2;
        
        //width: 100%;
        width: 55%;
        // flex basis not working in safari
        flex-basis: 55%;
        height: auto;


        // align-self: flex-end;
        animation: bounce  6s infinite;
        // background-image: url("../../img/hero_test2.svg");
        // background-size: 50vw 70vh;
        // background-repeat: no-repeat;
    }

    &__paragraph {
        font-size: 1.4rem;
        color: rgba($color: $color-black, $alpha: .8);
        margin-top: 3rem;
        animation: moveInBottom .4s ease-out 2s;
        animation-fill-mode: backwards;
    }

    &__btn {
        animation: moveInBottom .4s ease-out 2s;
        animation-fill-mode: backwards;
    }
}

.section-how{
    background-image: linear-gradient(to right bottom,
                                    rgba($color-primary-dark, 0.7),
                                    rgba($color-primary, 1)),
    url("../../img/corona-bg-1.jpg");
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    padding: 5rem 0;

    &__praragraph {
        margin-top: -3rem;
        color: rgba($color-white, .8);
    }
}

.section-about {
    padding: 5rem 0;
    height: auto;
    background-color: $color-white;

    &__left {

        height: 55rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    // Changed this to div for giving background image
    &__img {
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        background-image: url("../../img/corona-bg-2.svg");
        background-position: center;
        background-size: cover;
        border: 4rem solid $color-black;
        border-radius: .5rem;
    }

    &__heading {
        color: $color-black;
        font-weight: 500;
        font-size: 3rem;
        margin: 2rem 0 2rem 0;
        letter-spacing: .2rem;
    }
    text-align: center;    
}

.section-symptoms {
    padding: 5rem 0;
    text-align: center;
    // background-image: linear-gradient(to right bottom,
    //                                 rgba($color-black, 1),
    //                                 rgba($color-primary, 1));
    //background-image: radial-gradient($color-black, $color-primary);
    background-color: $color-black;
    
    
}

.section-world-report {
    text-align: center;
    padding: 6rem 0;
}

