.hero {
    height: 100vh;
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    } 

    &__paragraph {
        text-align: justify;
        font-weight: 300;
    }
    //animation: bounce  6s infinite;
    &__img {
        position: relative;
        height: 70vh;
        &--c1 {
            position: absolute;
            left: 15rem;
            top: 20rem;
            height: 15rem;
            width: 15rem;
            z-index: 88888;
            animation: rotate-180 5s infinite;
        }
       
        &--c2 {
            position: absolute;
            left: 0;
            top: 8rem;
            height: 10rem;
            width: 10rem;
            z-index: 88888;
            animation: move-dia1 5s infinite forwards;
        }

        &--c3 {
            position: absolute;
            left: 5rem;
            top: 35rem;
            height: 8rem;
            width: 8rem;
            z-index: 88888;
            animation: move-dia2 5s infinite forwards;
            animation: name duration timing-function delay iteration-count direction fill-mode;
        }

        &--h1 {
            position: absolute;
            top: 0;
            right: -20rem;
            height: 80vh;
            width: 40vw;
            animation: bounce 4s infinite;
        }
    }
}

.how-to{
    height: 100vh;
    background-color: #EFEBE0;
}

.about-covid{
    height: 100vh;
    background-color: #373A40;
}

.symptoms{
    height: 100vh;
    background-color: #A1DBF1;
}

.world-report{
    height: 100vh;
    background-color: #A1DBF1;
}

.get-tested{
    height: 100vh;
    background-color: #373A40;
}
